.row{
    padding: 20px;
    background-color: rgb(92, 92, 91);
}

.list-info{
    color: black;
    line-height: 1%;

}

a:link { text-decoration: none;
}

a:visited {
text-decoration: none;
}
p{
    display: inline;
}